:root {
  --textColor: #1b9dde;
  --buttonColor: #c4cfe2;
  --backColor: #e8e8e8;
  --boxColor: #fcfcef;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #1b9dde;
  background-color: var(--backColor);
  margin: 0 auto;
  font-size: medium;
  max-width: fit-content;
  text-align: center;
  padding: 0 4px;
}

legend {
  background-color: #1b9dde;
  color:#F5EDDD;
  padding: 3px 10px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: inherit;
  font-size: smaller;
  text-align: center;
  padding: 0 4px;
}

.dataRow {
  background-color: #ececf6;
}

.dataRowEven {
  background-color: #efe3e3;
}

.dataCell {
  /*display: flex;*/
  flex-flow: row wrap;

  text-align: center;
  align-items: flex-start;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  padding: 2px 6px;
}

.dataCell > * {
  padding: 10px;
  flex: 1 100%;
}

.editItemCell {
  font-size: medium;
  color: var(--textColor);
  border: 0;
  padding: 2px 20px;
}

.spacer {
  font-size: medium;
  color: var(--textColor);
  border: 0;
  padding: 2px 4px;
}

.newItemCell {
  font-size: medium;
  border: 2px solid var(--textColor);
  color: var(--textColor);
  padding: 2px 6px;
  max-width: 125px;
}

.editButton {
  font-size: medium;
  border: 2px solid var(--textColor);
  background-color: var(--buttonColor);
  border-radius: 25px;
  min-width: 100px;
}

.delButton {
  font-size: medium;
  border: 2px solid var(--textColor);
  color: #c43333;
  background-color: var(--buttonColor);
  border-radius: 25px;
  min-width: 100px;
}

.addButton {
  font-size: medium;
  border: 2px solid var(--textColor);
  background-color: var(--buttonColor);
  border-radius: 25px;
  min-width: 100px;
}


input[type='radio']:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content:'';
  background-color: var(--boxColor);
  display: inline-block;
  visibility: visible;
  border: 2px solid #c1bdb9;
  transition: all .5s ease-in-out;
}

input[type='radio']:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content:'';
  background-color: #869edb;
  display: inline-block;
  visibility: visible;
  border: 2px solid #dc9696;
  transition: all .5s ease-in-out;
}


fieldset {
  font-size: medium;
  max-height: min-content;
  background-color: var(--boxColor);
  max-width: border-box;
  border-color: var(--textColor);
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: var(--boxColor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #1b9dde;
}

.topnav a.active {
  background-color: #1b9dde;
  color: var(--boxColor);
}

